* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: 2px solid red; */
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
body {
  font-family: "Playfair Display", serif;
  background-color: #faedcd;
}
header {
  height: 80px;
  width: 1200px;
  margin: 0 auto;
  background-color: #d4a373;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 70px;
  border-radius: 5px;
  height: 70px;
  cursor: pointer;
}

.titulo {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;

  cursor: pointer;
}

.navbar-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  align-items: center;
  justify-content:center;
}

.list ul {
  display: flex;
}

.list li {
  display: flex;
  padding-top: 7px;
  color: whitesmoke;
  font-weight: 700;
  font-size: 20px;
  transition: background-color 0.5s;
}

.list a {
  color: #e9edc9;
  font-size: 25px;
}

.list a:hover {
  color: whitesmoke;
}

/* section hero */
#hero {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* container hero */
.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #fefae0;
}

/* hero texto */
.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 600px;
  height: 400px;
  gap: 50px;
  padding: 30px;
}

.slogan h2 {
  font-size: 50px;
  font-weight: 800;
  color: #d4a373;
}

.slogan p {
  display: flex;
  color: #121220;
  font-size: 18px;
}
.contacto {
  display: flex;
  gap: 20px;
  /* align-items: flex-start; */
}

.btn-contacto {
  background: #ccd5ae;
  color: #121220;
  padding: 15px;
  border-radius: 10px;
}

.btn-contacto:hover {
  background: white;
  color: #121220;
}

/* Hero imagen */
.slogan-image {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
}
.slogan-image img {
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 20px;
}

/* section about */

#about {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about-text {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 50px;
  gap: 20px;
}

.about-text p {
  color: #121220;
  font-size: 20px;
  font-weight: 800;
  width: fit-content;
}

/* ===== Section Cartas */

#cartas {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-color: #ccd5ae;
}

.container.card {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.cartas-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
}

.cartas-top {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.card {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e9edc9;
  border-radius: 10px;
}

.card h2 {
  width: 90%;
}

.card p {
  width: 70%;
}

.card-img {
  width: 250px;
  border-radius: 10px;
}

/* ====Section Productos=== */
#productos {
  margin: 0 auto;
  width: 1200px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #ccd5ae;
}

.container-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-productos h2 {
  padding-left: 40px;
}

.card-contain {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-productos {
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e9edc9;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 5px;
}
.card-productos h2{
  text-align: center;
}
.card-productos h3 {
  width: 80%;
}

.card-productos:hover{
  background-color: white;
}

.productos-cards-img {
  width: 200px;
  border-radius: 5px;
}
.precio-producto {
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  gap: 10px;
}

.card-productos p:last-child {
  font-weight: bold;
}

#menu-toggle,
.menu-label {
  display: none;
}

/* ==== SECTION CONTACTO ====*/
#contacto {
  width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #fefae0;
}
#contacto h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contacto {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.contacto-descripcion,
contacto-img {
  width: 500px;
  height: 500px;
}

.direcciones {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.local1,
.local2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  gap: 10px;
}

.imagen-local {
  width: 500px;
}

.footer {
  background-color: #d4a373;
  margin: 0 auto;
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer h2 {
  color: #f5f5f5;
  font-size: 35px;
}

footer p {
  font-size: 20px;
  font-weight: bold;
}

.footer-list {
  display: flex;
}
.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-list ul li a {
  color: #121220;
}

/* =================MEDIA QUERYES TABLET */
html{
  width: 100%;
}

@media (max-width: 992px) {
  header {
    display: flex;
    width: 100%;
  }
  .header {
    width: 100%;
  }
  /* #menu-toggle, */


  .logo {
    height: 70%;
  }
  .titulo {
    font-size: 20px;
  }

  .list a {
    font-size: 15px;
  }

  /*<=======================NAVBARRR=========> */

  .navbar {
    gap: 5%;
    
  }
.menu-label {
  display:flex;
  cursor: pointer;
  order: 2;
}

.menu-label img{
  height: 20px;
  width: 25px;
}

  .navbar-list {
    position: absolute;
    top: 80px;
    width: 90%;
    left: 5%;
    right: 5%;
    border: grey solid 2px;
    border-top: 0;
    flex-direction: column;
    background-color: #ccd5ae;
    border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;
    display: none;

  }

  #menu-toggle:checked + .navbar-list{
    display: flex;
  }

  .navbar-list a{
    font-size: 18px;
  }


  /* ======FIN NAVBAR====== */
  body {
    width: 100%;
    margin: 0 auto;
  }

  main {
    width: 100%;
  }
  /* Sectionss ancho */
  #hero,
  #about,
  #cartas,
  #productos,
  #contacto {
    margin: 0 auto;
    height: auto;
    width: 100%;
  }
  /* Section hero */
  #hero img {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .container {
    width: 100%;
    height: auto;
  }

  /* <=======Section Cartas */

  .cartas-top {
    width: 100%;
  }
  .card {
    width: 90%;
  }
  .cartas-contain {
    flex-wrap: wrap;
  }

  /* Section Poductos */
  .container-productos {
    width: 99%;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container.card {
    width: 100%;
    flex-wrap: wrap;
  }

  .container-productos h2{
    padding-left: 40px;
  }
  .card-contain {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-productos {
    width: 40%;
    flex-wrap: wrap;
  }

  .productos-cards-img {
    width: 70%;
  }

  /*<======== Section Contacto====> */

  .contacto-descripcion {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .direcciones {
    flex-wrap: wrap;
  }

  .container-contacto {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .contacto-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-local {
    width: 95%;
    padding: 10px;
  }

  /* Foooter */
  .footer {
    width: 100%;
  }

  .footer h2 {
    font-size: 30px;
  }
  .footer p {
    font-size: 10px;
  }
}

/* <===========MEDIA QUERYES SMARTPHONE=========> */

@media (max-width: 576px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  .header {
    width: 100%;
  }
  .navbar-list{
    width: 70%;
    margin: 0 auto;
  }
  

  #hero,
  #about,
  #cartas,
  #productos,
  #contacto {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  /* <======SECTION HERO======> */
  
  .slogan h2{
    font-size: 30px;
    height: auto;
  }
  .slogan-image{
    width: 100%;
  }
  

  /* <=====SECTION PRODUCTOS====> */
  .card-contain{
    flex-direction: column;
  }
  .precio-producto{
    flex-direction: column;
  }
  .card-productos{
    /* modifique el width recien, anterior 50% */
    width: 60%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .container-productos{
    padding-left: 20px;
  }

  /* <====SECTION CONTACTO=======> */

  #contacto {
    padding-top: 10px;
  }

  #contacto h2{
    width: 50%;
  }

  .container-contacto {
    width: 95%;
    flex-direction: column;
  }
  .direcciones {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 100%;
  }

  .footer h2{
    font-size: 20px;
    padding-left: 10px;
  }

  .footer-list ul {
    padding-left: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}



  
  .footer a{
    font-size: 10px;
  }
}
